<header>
    <h1>Eat-Da-Burger!</h1>
    <img src="" alt=""/>
    <p>Submit a burger name below to devour it.</p>
</header>
<main>
    <form>
        <input id="name" type="text" placeholder="Yummy Burger" required/>
        <button id="btnSubmit" type="submit">Submit</button>
    </form>
    <div id="burgers">
        <div class="col" id="availableBurgers">
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>{{burger_name}} <button class="btnDevour" type="button">Devour It!</button></li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col" id="devouredBurgers">
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</main>