<header>
    <h1>Eat-Da-Burger!</h1>
    <picture>
        <source srcset="images/burger.svg">
        <img src="images/beef-burger.png" alt="beef hamburger on a white sesame seed bun">
        <a rel="nofollow" target="_blank" href="https://www.vecteezy.com"><div>Free Vector Graphics by www.Vecteezy.com</div></a>
    </picture>
</header>
<main>
    <p>Submit a burger name below to devour it.</p>
    <form>
        <input id="name" type="text" placeholder="Yummy Burger Name" required/>
        <button id="btnSubmit" type="submit">Submit</button>
    </form>
    <div id="burgers">
        <div class="col" id="availableBurgers">
            <h2>Available Today</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>{{burger_name}} <button class="btnDevour" type="button">Devour It!</button></li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col" id="devouredBurgers">
            <h2>Devoured</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</main>